* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    font-family: Arial, sans-serif;
}

body {
    background-image: url('/assets/images/background-index.jpg');
    background-size: auto;
    background-position: top;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
}

.card {
    text-align: center;
    padding: 25px;
    height: 300px;
    margin: 25px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 2em;
    margin-bottom: 10px;
}

p {
    margin-bottom: 20px;
    color: #7c7c7c;
}

button {
    padding: 10px 20px;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    background-color: #028dc4;
    color: #ffffff;
    cursor: pointer;
}

button:hover {
    background-color: #007BFF;
}

@media (max-width: 600px) {
    h1 {
        font-size: 1.5em;
    }

    button {
        width: 100%;
    }
}